<div class="container" *ngIf="wheatherData">
  <div class="upper-data">
    <img
      src="../assets/day.jpg"
      alt="Day Image"
      *ngIf="wheatherData[1].temp2m > 15"
    />
    <img
      src="../assets/night.jpg"
      alt="Night Image"
      *ngIf="wheatherData[1].temp2m <= 15"
    />
    <div class="weather-data">
      <div class="location">Argentina</div>
      <div class="temperature">{{ wheatherData[1].temp2m }}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Temperature.png" alt="Min Temp Icon" />
          <span>min</span>
        </div>
        <div class="info-block-value">{{ minTemp }}°C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Hot.png" alt="Min Temp Icon" />
          <span>max</span>
        </div>
        <div class="info-block-value">{{ maxTemp }}°C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Humidity.png" alt="Min Temp Icon" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">{{ humidity }}</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Wind.png" alt="Min Temp Icon" />
          <span>wind</span>
        </div>
        <div class="info-block-value">{{ wind }} km/h</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
